# LiveKit Cloud Project Credentials
LIVEKIT_URL="wss://elevate-xzfpw63b.livekit.cloud"
LIVEKIT_API_KEY=""
LIVEKIT_API_SECRET=""

# SIP Outbound Trunks
SIP_OUTBOUND_TRUNK_ID_IN="ST_BGnxxGYCdiay"
SIP_OUTBOUND_TRUNK_ID_GLOBAL="ST_ChjCVACKwo8T"

# Agent Name (Must match @server.rtc_session(agent_name="Voice-Agent-Final"))
LIVEKIT_AGENT_NAME="Voice-Agent-Final"
